<%- include('header.ejs')%>
<main>
    <div class="index-box">
        <p>회원이셈? 로그인 ㄱㄱ</p>
        <p>회원 아니셈? 회원가입 ㄱㄱ</p>
        <p>로그인이 안된다?</p>
        <p>인증 이메일 확인 ㄱㄱ</p>
        <p>회원만 글 작성 가능함~</p>
        <p>메일을 다시 보내주고 싶다?</p>
        <p>아래 눌러보셈</p>
    </div>
    <a href="/auth/reVerifyMail" id="reVerifyMail">이메일 재인증 하러가볼까</a>
</main>
<%- include('footer.ejs')%>