<%- include('header.ejs')%>
<main>
    <h1>이메일 재인증</h1>
    <form action="/auth/reVerifyMail" method="post" class="signup-form">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
        <div class="name-box">
        <label for="username">ID</label>
        <input type="text" name="username" id="username" placeholder="ID 입력">
        </div>
        <div class="password-box">
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="password" placeholder="패스워드 입력">
    </div>
        <button type="submit">재발송</button>
    </form>
</main>
<%- include('footer.ejs')%>