<%- include('header.ejs')%>
<main>
    <form action="/auth/signup" method="post" class="signup-form" id="signup-form">
        <div class="name-box">
        <label for="username">ID</label>
        <input type="text" name="username" id="username" placeholder="ID 입력">
        </div>
        <div class="password-box">
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="password" placeholder="패스워드 입력">
        </div>
        <div class="email-box">
            <label for="email">EMAIL</label>
            <input type="email" name="email" id="email" placeholder="이메일 입력">
        </div>
    <div class="text-box">
        <p id="errorText">내용입력</p>
        <button type="button" id="verifyBtn">이메일인증</button>
        <button type="button" id="checkBtn">중복확인</button>
        <button type="submit" id="submitBtn">등록</button>
    </div>
    </form>
</main>

<script>
    const $checkBtn = document.getElementById('checkBtn');
    const $submitBtn = document.getElementById('submitBtn');
    const $errorText = document.getElementById('errorText');
    const $signupForm = document.getElementById('signup-form');
    const $verifyBtn = document.getElementById('verifyBtn');

    let hasDuplication = true;
    let isChecked = false;
    let verifiedEmail = false;

    $checkBtn.addEventListener('click',async ()=>{
        const username = document.getElementById('username').value;
        const response = await fetch(`/auth/checkid/?username=${username}`)
        const data = await response.json();
        if(!data.exists){
            hasDuplication = false;
            $errorText.innerText = '가입가능';
            isChecked = true;
            return ;
        } else{
            $errorText.innerText = '중복임';
            isChecked = true;
            return ;
        }
    })

    $verifyBtn.addEventListener('click',async ()=>{
        const response = await fetch(`/auth/mail/?email=${$signupForm.email.value}`);
        const data = await response.json();
        if(data.ok){
            $errorText.innerText = '이메일 인증 보냈음';
        } else{
            $errorText.innerText = data.message;
        }
    })

    $submitBtn.addEventListener('click',async e=>{
        e.preventDefault();
        const username = $signupForm.username.value;
        const password = $signupForm.password.value;
        const email = $signupForm.email.value;

        if(!username || !password || !email){
            $errorText.innerText = '다 입력하셈';
            return ;
        }

        if(!isChecked){
            $errorText.innerText = '중복확인하셈';
            return ;
        }

        if(hasDuplication){
            $errorText.innerText = '중복이라 등록안해줌';
            return ;
        }

        const response = await fetch(`/auth/checkVerify?email=${email}`);
        const data = await response.json();
        if(data && data.verified){
            $signupForm.submit();
        } else{
            $errorText.innerText = '이메일 인증 아직 안눌렀음';
            return ;
        }
    })
</script>


<%- include('footer.ejs')%>